{% extends "layout.html" %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">Client Information</div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <form method="POST" accept-charset="utf-8">

                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" name="email" placeholder="" class="form-control" value="{{ customerInfoForm.email.default }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="idNumber" class="form-label">ID Number</label>
                            <input id="idNumber" type="text" name="idNumber" placeholder="" class="form-control" value="{{ customerInfoForm.idNumber.default }}" required>
                        </div>
                        <div class="row g-2">
                            <div class="col">
                                <label for="title" class="form-label">Title</label>
                                <input id="title" name="title" type="text" placeholder="" value="{{ customerInfoForm.title.default }}" class="form-control">
                            </div>
                            <div class="col">
                                <label for="name" class="form-label">Name</label>
                                <input id="name" name="name" type="text" placeholder="" value="{{ customerInfoForm.name.default }}" class="form-control">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="phoneNumber" class="form-label">Phone Number</label>
                            <input id="phoneNumber" type="text" name="phoneNumber" placeholder="" value="{{ customerInfoForm.phoneNumber.default }}" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="passportNumber" class="form-label">Passport Number (Non-SA Resident)</label>
                            <input id="passportNumber" type="text" name="passport_number" placeholder="" value="{{ customerInfoForm.passportNumber.default }}" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="propertyAddress" class="form-label">Property Address</label>
                            <input id="propertyAddress" type="text" name="propertyAddress" placeholder="" value="{{ customerInfoForm.propertyAddress.default }}" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="propertyListedValue" class="form-label">Property Listed Value</label>
                            <input id="propertyListedValue" type="text" name="propertyListedValue" placeholder="" value="{{ customerInfoForm.propertyListedValue.default }}" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="sellingMandateEndDate" class="form-label">Selling Mandate end date</label>
                            <input id="sellingMandateEndDate" type="text" name="sellingMandateEndDate" value="{{ customerInfoForm.sellingMandateEndDate.default }}" placeholder="" class="form-control">
                        </div>
                        <div class="mb-3">
                            <input id="submit" type="submit" value="submit" class="btn btn-success">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
    function sole_mandate()
    {
         location.href = "{{ url_for('sole_mandate') }}";
    }
    </script>

{% endblock %}