{% extends "layout.html" %}
{% block content %}
    <div class="card">
        <h5 class="card-header">CRM Integration</h5>
        <div class="card-body">
        <h5 class="card-title">Customer Relationship Manager Integration</h5>
        <p class="card-text">With integration to your CRM system, DocuMan is able to auto complete contracts and integrate back seamlessly to your CRM system</p>
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"> Go! </button>

            <form method="POST">
                <div class="modal fade" id="exampleModal" role="dialog" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">CRM Integration</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-start">
                            <p>Please provide the following client information: </p>
                            <form accept-charset="utf-8">
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input id="email" type="email" name="email" placeholder="Email Address" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label for="idNumber" class="form-label">ID Number</label>
                                    <input id="idNumber" type="number" name="idNumber" placeholder="0000000000000" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <input id="search" type="submit" value="search" class="btn btn-success">

                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
        </div>
            </form>


    </div>
    </div>

    <div class="card">
        <h5 class="card-header">Manual completion</h5>
        <div class="card-body">
            <h5 class="card-title">Manual contract completion</h5>
            <p class="card-text">DocuMan allows for manual completion of your contracts, plus adds integration to your CRM systems</p>
            <a href="{{ url_for('customer_info') }}" class="btn btn-success" style="color: ghostwhite"> Go! </a>
        </div>
    </div>

    <script>
    function customer_info()
    {
         location.href = "{{ url_for('customer_info') }}";
    }
    </script>


{% endblock %}